<%- layout('layouts/main.ejs') %>
<div class="row">
    <div class="col-md-12 mt-4">
        <% if (data.length === 0) { %>
            <h1 class="display-4 text-center"> <a href="/listgroup/<%= group %>"><%= group %></a> Not Found :( </h1>
        <% } else { %>
            <h1 class="display-4 text-center"> <a href="/listgroup/<%= group %>"><%= group %></a> Found! </h1>
            <hr>
            <table class="table table-striped table-bordered bg-white table-lg">
                <thead>
                    <tr>
                    <td class="text-center"><h3>Place</h3></td>
                    <td class="text-center"><h3>Distance</h3></td>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(item) { %>
                        <tr>
                            <td class="text-center"><h3><%= item[0] %></h3></td>
                            <td class="text-center"><h3><%= (Math.round(item[1] * 10) / 10 ) %> km</h3></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table> 
        <% } %>
    </div>
</div>